@font-face {
  font-family: 'BPG Arial';
  src: url(./src/assets/fonts/bpg_arial_2009.ttf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BPG Arial";
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #EAEAEA;
}

:root{
  --darkText: #232323;
  --dark: #000000;
  --warning: #626262;
  --error:  #F15524;

}


 